h1 { 
    font-weight: bold; 
    color: blue;
}

h2 { 
    font-weight: bold;
    color: blue;
}

body {

    background-color: #E9FBFB;

}

a {

    font-size: 1.2em;
    
}

.imagenes {
    
    background-image: url(imagenes/imghidropicos1.jpg); 
    background-image: image(imagen3);
    background-repeat: repeat-x;
    width: 1650px;
    height: 635px;
    

}

p{ 
    
    color: blue;
    font-style: italic;
    text-align: left;
    font-family: "Trebuchet MS";
    font-weight: normal;

}

footer {

background-color: grey;
text-align: center;
color: white;

}

.pie {

    text-align: center;
    color: white;

}