h1 { 
    font-weight: bold; 
    color: green;
}

h2 { 
    font-weight: bold;
    color: green;
}

a {

    font-size: 1.2em;
    
}

.imagenes {
    
    background-image: url(imagenes/imghidropicos3.jpg);
    background-image: image(imagen3);
    background-size: cover;
    background-attachment: fixed;
    width: 1650px;
    height: 635px;

}

p{ 
    
    color: green;
    font-style: italic;
    text-align: justify;
    font-family: "Trebuchet MS";
    font-weight: normal;

}

footer {

background-color: grey;
text-align: center;
color: white;

}

.pie {

    text-align: center;
    color: white;

}


