h1 { font-weight: bold; }

h2 { font-weight: normal;}
h4 { font-weight: normal;}


.hidroponicos {font-size: 1900px;}


.parrafo { font-size: 1.2em;}


footer {

background-color: grey;
text-align: center;
color: white;

}














