h1 { font-weight: bold; }

h2 { font-weight: normal;}
h4 { font-weight: normal;}


a {

    font-size: 1.2em;
    
}

.texto1{

    text-align: justify;

}



.imagenes {
    
    background-image: url(imagenes/imghidropicos3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 635px;
    width: 1710px;

}

p{ 
    
    font-size: 1.2em;

}


footer {

background-color: grey;
text-align: center;
color: white;

}














