/*h1 { font-weight: bold; }

h2 { font-weight: normal;}
h4 { font-weight: normal;}


a {

    font-size: 1.2em;
    
}

.imagenes {
    
    background-image: url(imagenes/imghidropicos3.jpg);
    background-image: image(imagen3);
    background-size: cover;
    background-attachment: fixed;
    width: 1330px;
    height: 590px;

}

p{ 
    
    font-size: 1.2em;

}

footer {

background-color: grey;
text-align: center;
color: white;

}*/


